name: tag-from-composer.yml

on:
  push:
    branches:
      - main

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Read version
        id: version
        run: |
          VERSION=$(jq -r '.version' composer.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      - name: Create Tag
        if: steps.version.outputs.version != 'null'
        run: |
          git tag ${{ steps.version.outputs.version }}
          git push origin ${{ steps.version.outputs.version }}
